.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(81, 255, 0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
